* {
  box-sizing: border-box;
}

/* FONTS */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.jersey-10 charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.black-ops one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
}
/* UNIVERSALES */
h1{font-size: xx-large;}
h2{font-size: larger;}
h3{font-size: large;}
p{font-size: medium;}
.clickeable {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.imagenes {
  background-size: contain;
}

header {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}



.h_link {
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.indice {
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .h_link {
    flex-direction: row;
    justify-content: space-between;
  }
  .indice {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 18px;
  }
}
/* PRODUCTO */

.producto_titulo {
  text-align: center;
  font-size: xx-large;
}
.producto_imagen {
  display: flex;
  justify-self: center;
  width: 100vw;
  height: 30gotvh;
  @media (min-width: 1024px) {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-self: space-between;
  }
}
.producto_precio_agregar {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
.producto_desktop {
  box-shadow: 5px 5px 5px 5px rgb(2, 2, 2);
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: larger;
    padding: 5vh;
  }
}
.logo {
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.iniSes {
  display: flex;
  justify-content: center;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* LOGIN */

.divLogin {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  @media (min-width: 1024px) {
    display: flex;
    padding-left: 30vw;
    padding-right: 30vw;
    justify-content: space-around;
  }
}
.ingresar {
  display: flex;
  justify-content: center;
  padding: 10vh;
  padding-left: 25vw;
  padding-right: 25vw;
}
.mail_password {
  @media (min-width: 1024px) {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
    padding-left: 25vw;
    padding-right: 25vw;
  }
}
.pad{padding-bottom: 5vh;}
.divreg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.mailreg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.producto {
  display: flex;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
}
.login {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2vh;
}

/* CARRITO */

.titulo_carrito {
  text-align: center;
  padding: 20px;
}

.imagen_carrito {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.formulario_carrito {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: black;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
}

.flez {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cat {
  list-style-type: none;
  margin: 10px;
  text-align: center;
  width: 240px;
}

.img_category {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.registro {
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.tituloscategoriashome {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.accesorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:20vw; 
  height:20vh;
  text-align: center;
  margin: 2%;
  box-shadow: black;
  padding: 4%;
  box-shadow: 5px 5px 5px 5px rgb(2, 2, 2);
  @media (min-width: 1024px) {width: 25vw;
  height: 70vh;}
}

.img_producto {
  width: 45vw;
  height: 25vh;
  display: block;
  @media (min-width: 1024px) {width: 20vw;
  height: 30vh;}
}

.detallehome,
.agregarCarrito {
  display: block;
  width: auto;
  padding: 1%;
  margin: 5% auto;
  color: white;
  background-color: black;
  text-decoration: none;
  text-align: center;
}

hr {
  background-color: black;
  height: 10px;
}
