* {
  box-sizing: border-box;
}

/* FONTS */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.jersey-10 charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.black-ops one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
}
/* UNIVERSALES */
.clickeable {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.imagenes {
  background-size: contain;
}

header {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

#h_link {
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  justify-self: center;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }
}
.indice {
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }
}

/* PRODUCTO */

.producto_titulo {
  text-align: center;
  font-size: xx-large;
}
.producto_imagen {
  display: flex;
  justify-self: center;
  width: 100vw;
  height: 30gotvh;
  @media (min-width: 1024px) {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-self: space-between;
  }
}
.producto_precio_agregar {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
.producto_desktop {
  box-shadow: 5px 5px 5px 5px rgb(2, 2, 2);
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: larger;
    padding: 5vh;
  }
}
.logo {
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.iniSes {
  display: flex;
  justify-content: center;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* LOGIN */

.divLogin {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  @media (min-width: 1024px) {
    display: flex;
    padding-left: 30vw;
    padding-right: 30vw;
    justify-content: space-around;
  }
}
.ingresar {
  display: flex;
  justify-content: center;
  padding: 10vh;
  padding-left: 25vw;
  padding-right: 25vw;
}
.mail_password {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding-left: 25vw;
    padding-right: 25vw;
  }
}
.divreg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.mailreg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.producto {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
  @media (min-width: 1024px) {
    font-size: larger;
  }
}
.login{ 
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2vh;
  @media (min-width: 1024px){
    font-size: larger;
  }
}

/* CARRITO */

.titulo_carrito {
  text-align: center;
  padding: 20px;
}

.imagen_carrito {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.formulario_carrito {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: black;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
}

.flez {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cat {
  list-style-type: none;
  margin: 10px;
  text-align: center;
  width: 240px; 
}

.img_category {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}
/* HOME */
/*
.todohome{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  

}
.productohome{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;
padding: 10px;
flex-direction: row;
}
.producto_img {
width: 20%;
margin: 10px;
box-sizing: border-box;

}
.accesorios{
  flex-direction: row;
  

}
.tecnologia{
  flex-direction: row;
  width: fit-content;


}

.registro{
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}
*/
/*
.productos, .accesorios, .tecnologia {
  box-shadow: 5px 5px 5px 5px rgb(2, 2, 2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
}

.productos a, .accesorios a, .tecnologia a {
  width: 18%; 
  margin: 10px;
  text-align: center;
}

.img_producto {
  width: 18vw;
  height: 30vh;
  border: 0;
}

@media (max-width: 768px) {
  .productos a, .accesorios a, .tecnologia a {
      width: 45%; 
  }
}

@media (max-width: 480px) {
  .productos a, .accesorios a, .tecnologia a {
      width: 90%; 
  }
}
.principal{
  text-align: center;
  font-size: xx-large;
}
.tituloshome{
  text-decoration: none;
  font-family: "Press Start 2P";
  color: black;


}*/

.registro{
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.tituloscategoriashome{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color:black;
}

.accesorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productos {
  width: 26%; 
  text-align: center;
  margin: 2%;
  box-shadow: black;
  padding: 4%;
}

.img_producto {
  max-width: 100%;
  height: auto;
  display: block;
}

.detallehome, .agregarCarrito {
  display: block;
  width: auto;
  padding: 1%;
  margin:  5% auto;
  color: white;
  background-color: black;
  text-decoration: none;
  text-align: center;
  
  

}

hr{
  background-color: black;
  height: 10px;
}