* {
  box-sizing: border-box;
}

/* FONTS */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.jersey-10 charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.black-ops one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
  text-align: center;
}
/* UNIVERSALES */
h1{font-size: xx-large;}
h2{font-size: larger;}
h3{font-size: large;}
p{font-size: medium;}
.clickeable {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.imagenes {
  background-size: contain;
}

header {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}



.h_link {
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header{
  
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
  
}
.indice {
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .h_link {
    flex-direction: row;
    justify-content: space-between;
  }
  .indice {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 18px;
  }
}
/* MEDIA QUERIE */

@media (min-width: 1024px) {
  .img_producto{width: 20vw;
    height: 30vh;}
  .for{width: fit-content;
    height: fit-content;}
  .mail_password{ display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
      padding-left: 25vw;
      padding-right: 25vw;}
  .divLogin{ display: flex;
    padding-left: 30vw;
    padding-right: 30vw;
    justify-content: space-around;}
  .producto_desktop{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: larger;
    padding: 5vh;}
  .producto_precio_agregar{display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;}
  .producto_imagen{width: 50vw;
    height: 60vh;
    display: flex;
    justify-self: space-between;}
  }
/* PRODUCTO */

.producto_titulo {
  text-align: center;
  font-size: xx-large;
}
.producto_imagen {
  display: flex;
  justify-items: center;
  
  width: 50vw;
  height: 50vh;
  box-shadow: 5px 5px 5px 5px rgb(2, 2, 2)
}
.descripcion{
  font-size:x-large;
  justify-self: center;
}
.producto_precio{
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  
}
.producto_precio_agregar{
  display: flex;
 
  font-size: xx-large;
  
}
.producto_desktop {
  box-shadow: 5px 5px 5px 5px rgb(2, 2, 2);
 
}
.logo {
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.iniSes {
  display: flex;
  justify-content: center;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* LOGIN */

.divLogin {
  display: flex;
  justify-content: space-around;
  padding: 2vw;
}
.login {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.form_login{
  display: flex;
  justify-self: space-around;
}
.loginDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vw;
}
/*.mail_password {
  /* */

.pad{padding-bottom: 5vh;}
.divreg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.mailreg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.producto {
  display: flex;
  flex-direction:column;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
}
.login {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2vh;

}
.form_login{
  justify-self: center;
  
}
#logout{
  display: flex;
  justify-self: center;
}
/* CARRITO */

.titulo_carrito {
  text-align: center;
  padding: 20px;
}

.imagen_carrito {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.formulario_carrito {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: black;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
}

.flez {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cat {
  list-style-type: none;
  margin: 10px;
  text-align: center;
  width: 240px;
}

.img_category {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.registro {
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.tituloscategoriashome {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.accesorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.for {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;   
  box-shadow: 5px 5px 5px rgb(2, 2, 2);
  width: 20vw;
}
.for article {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.img_producto {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  
}

.detallehome,
.agregarCarrito {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
}

hr {
  background-color: black;
  height: 10px;
}
