* {
  box-sizing: border-box;
}

/* FONTS */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.jersey-10 charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.black-ops one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
/* UNIVERSALES */
.clickeable {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.imagenes {
  background-size: contain;
}

header {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

.h_link {
  text-decoration: none;
  color: white;
}

/* PRODUCTO */

.producto_titulo {
  text-align: center;
  font-size: larger;
}
.producto_imagen {
  display: flex;
  justify-self: center;
  width: 100vw;
  height: 50vh;
 @media (min-width: 1024px) {
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-self: space-between;}
}
.producto_precio_agregar {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
.producto_desktop{ @media (min-width: 1024px) {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
font-size: larger;
padding: 5vh;
}}
.logo {
  display: flex;
  justify-content: center;
}

/* LOGIN */

.divLogin {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  @media (min-width: 1024px){
    display: flex;
    padding-left: 30vw;
    padding-right: 30vw;
    justify-content: space-around;
  } 
}
.ingresar {
  display: flex;
  justify-content: center;
  padding: 10vh;
  padding-left: 25vw;
  padding-right: 25vw;

  }
.mail_password{ @media (min-width: 1024px){
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding-left: 25vw;
  padding-right: 25vw;
  }}
  .divreg{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  }
  .mailreg{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
   
  }
  
.producto{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(128, 128, 128, 0.25);
  @media (min-width: 1024px) {
  font-size: larger;
  }
}
.login{ font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  @media (min-width: 1024px){
    font-size: larger;
    }}

/* CARRITO */

.titulo_carrito {
  text-align: center;
  padding: 20px;
}


.imagen_carrito {
  width: 100%;
  max-width: 300px;
  display: block;
  margin:  auto;
  border-radius: 5px;
}


.formulario_carrito {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}


select,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
  
}

.fotos{
text-decoration: none;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.notpunto{
  list-style-type: none ;
}
